html {
    font-family: 'Raleway', sans-serif;
    font-size: calc(38.4 * 100vw / 1920);
    min-height: 100%;
}

body {
    background-image: linear-gradient(rgb(252, 216, 223), rgb(255, 117, 143));
    min-height: 100%;
    margin: 0;
}

#content {
    padding: max(0.5em, 10px) 0.5em;
}

#content > div {
    text-align: center;
}

#footer {
    background-image: linear-gradient(rgb(235, 27, 86), rgb(201, 24, 74));
    box-shadow: 0 0.05em 0.3em rgb(124, 123, 123);
    font-size: max(0.5em, 18px);
    padding: 0.3em;
}

.button {
    position: relative;
    cursor: pointer;
    margin: 0 0.3em;
    display: inline-block;
    font-size: 0.6em;
    border: none;
    border-radius: 0.3em;
    text-align: center;
    background-image: linear-gradient(rgb(255, 242, 245), rgb(255, 205, 214) 7% calc(100% - 7%), rgb(253, 153, 172));
    box-shadow: 0 0.04em 0.2em rgb(116, 116, 116), inset 0 0.07em 0.15em rgb(238, 210, 216);
}

.button-clicked {
    box-shadow: inset 0 0 0.2em rgb(116, 116, 116), 0 0.07em 10.07em rgb(156, 156, 156);
    background-image: linear-gradient(rgb(253, 153, 172), rgb(255, 205, 214) 7% calc(100% - 7%), rgb(255, 242, 245));
}

.bdummy, .btext {
    width: 100%;
    box-sizing: border-box;
    padding: 0.1em 0.2vw;
}

.bdummy {
    opacity: 0;
}

.btext {
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}

.btext-clicked {
    padding-top: 0.15em;
    font-size: 0.9em;
}

.search-bar {
    margin: 0.5em 0;
    position: relative;
    display: inline-block;
    font-size: 0.9em;
}

.suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border: 0.1em solid gray;
    z-index: 5;
}

.suggestion {
    background-color: aliceblue;
    border-top: 0.1em solid gray;
}

.suggestion:hover, .focused-sugg {
    background-color: rgb(255, 137, 158);
}

.pop-up {
    position: relative;
    display: inline-block;
    background-color: rgb(230, 62, 109);
    padding: max(0.7em, 16px) 1.2em;
    overflow-y: visible;
    border: max(0.16em, 3px) solid rgb(156, 33, 68);
    border-radius: max(0.5em, 10px);
}

.pop-up-container {
    position: fixed;
    left: 0;
    top: 0;
    padding-top: max(2em, 50px);
    height: calc(100% - 2em);
    overflow-y: auto;
    right: 0;
    text-align: center;
    z-index: 10;
}

.button-div {
    font-size: max(1em, 20px);
    padding-top: 0.2em;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
}

.group-selector {
    margin-bottom: 0.5em;
}

.info-text {
    font-size: max(1em, 21px);
}

.help {
    cursor: pointer;
    font-size: 0.8em;
    margin: 0.2em;
    line-height: 1em;
    position: fixed;
    top: 2em;
    right: 0.2em;
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
    background-color: rgb(255, 180, 193);
}