html {
    background-image: linear-gradient(rgb(252, 216, 223), rgb(255, 117, 143));
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    height: 100%;
}

body {
    margin: 0;
}

#content {
    padding: 10px;
}

#content > div {
    text-align: center;
}

#footer {
    background-image: linear-gradient(rgb(235, 27, 86), rgb(201, 24, 74));
    box-shadow: 0 1px 5px rgb(124, 123, 123);
    font-size: 15px;
    padding: 5px;
}


nav {
    background-image: linear-gradient(rgb(246, 62, 95), rgb(187, 57, 81));
    background-color: rgb(214, 91, 114);
    box-shadow: 0 1px 5px rgb(124, 123, 123);
}

nav > a {
    position: relative;
    display: inline-block;
    background-image: linear-gradient(rgb(246, 62, 95), rgb(187, 57, 81));
    padding: 3px 6px 5px 6px;
    border-color: rgb(255, 86, 117);
    border-style: solid;
    border-width: 0 1.5px 0 0;
    z-index: 1;
}

nav > a::before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(rgb(216, 43, 75), rgb(243, 101, 127));
    box-shadow: inset 0 1px 3px rgb(88, 88, 88);
    z-index: -1;
    transition: opacity 0.3s;
    opacity: 0;
}

nav > a:hover::before {
    opacity: 1;    
}

#przedmioty {
    border-radius: 7px;
    text-align: center;
    background-image: linear-gradient(rgb(251, 171, 186), rgb(255, 143, 163) 4% 96%, rgb(230, 130, 149));
    box-shadow: 0 2px 6px rgb(116, 116, 116), inset 0 2px 4px rgb(238, 210, 216);
    background-color: rgb(255, 168, 184);
    padding: 5px 0 5px 0;
    max-width: 800px;
    min-width: 500px;
    width: 70%;
    display: inline-block;
}

.subject-menu {
    background-image: linear-gradient(rgb(192, 63, 99), rgb(164, 19, 60) 15% 85%, rgb(112, 12, 41));
    color: rgb(255, 200, 210);
    box-shadow: 0 1px 6px rgb(92, 92, 92), inset 0 1px 6px rgb(255, 205, 214);
    transition: max-height 0.5s;
    overflow: hidden;
    border-radius: 2px;
    background-color: rgb(255, 205, 214);
}

#przedmioty > div {
    text-align: left;
}

.przedmiot {
    position: relative;
    border-color: rgb(255, 171, 186);
    border-style: solid;
    border-width: 0 0 1.5px 0;
    transition: border-width 0.3s;
    z-index: 1;
}

.przedmiot::before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(rgb(235, 123, 143), rgb(251, 168, 183));
    box-shadow: inset 0 1px 5px rgb(114, 114, 114);
    z-index: -1;
    transition: opacity 0.2s;
    opacity: 0;
}

.przedmiot:hover::before {
    opacity: 1;
}

#przedmioty > div > span {
    display: inline-block;
    width: 5px;
}

#przedmioty > div > a {
    display: block;
    padding: 4px 0 4px 30px;
    transition: color 0.2s;
    transition: box-shadow 0.5s;
}

#przedmioty > div > a:hover {
    color: rgb(255, 136, 158);
    box-shadow: inset 0 0 5px rgb(223, 202, 208), 0 0 8px rgb(199, 175, 182);
}