html {
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    min-height: 100%;
}

body {
    background-image: linear-gradient(rgb(252, 216, 223), rgb(255, 117, 143));
    min-height: 100%;
    margin: 0;
}

#content {
    padding: 10px;
}

#content > div {
    text-align: center;
}

#footer {
    background-image: linear-gradient(rgb(235, 27, 86), rgb(201, 24, 74));
    box-shadow: 0 1px 5px rgb(124, 123, 123);
    font-size: 15px;
    padding: 5px;
}

.button {
    position: relative;
    display: inline-block;
    font-size: 1.2vw;
    border: none;
    border-radius: 4px;
    text-align: center;
    background-image: linear-gradient(rgb(255, 242, 245), rgb(255, 205, 214) 2px calc(100% - 2px), rgb(253, 153, 172));
    /* background-image: linear-gradient(rgb(251, 171, 186), rgb(255, 143, 163) 2px calc(100% - 2px), rgb(230, 130, 149)); */
    box-shadow: 0 1px 3px rgb(116, 116, 116), inset 0 1px 2px rgb(238, 210, 216);
}

.button-clicked {
    box-shadow: inset 0 0 3px rgb(116, 116, 116), 0 1px 1px rgb(156, 156, 156);
    background-image: linear-gradient(rgb(253, 153, 172), rgb(255, 205, 214) 2px calc(100% - 2px), rgb(255, 242, 245));
}

.bdummy, .btext {
    width: 100%;
    box-sizing: border-box;
    padding: 0.18vw 0.4vw;
}

.bdummy {
    opacity: 0;
}

.btext {
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}

.btext-clicked {
    font-size: 1.1vw;
    padding: 0.23vw 0.4vw;
}

