form input[type="text"], form input[type="password"] {
    font-size: 0.6rem;
    height: 1.8em;
    background-color: rgb(255, 240, 243);
    border-color: rgb(255, 117, 143);
    border-style: solid;
    border-width: 0.15em;
    border-radius: 0.35em;
}

form input[type="text"]:focus, form input[type="password"]:focus {
    outline-width: 0.15em;
    outline-color: rgb(201, 24, 74);
    outline-style: solid;
    background-color: rgb(253, 226, 231);
    box-shadow: 0 0 1.2em rgb(206, 29, 79);
}