nav {
    background-image: linear-gradient(rgb(246, 62, 95), rgb(187, 57, 81));
    background-color: rgb(214, 91, 114);
    box-shadow: 0 0.1em 0.3em rgb(124, 123, 123);
    font-size: 0.9rem;
}

nav span {
    position: relative;
    background-image: linear-gradient(rgb(246, 62, 95), rgb(187, 57, 81));
    padding: 0.15em 0.45em 0.2em 0.45em;
    border-color: rgb(255, 86, 117);
    border-style: solid;
    border-width: 0 0.06em 0 0;
    z-index: 1;
    cursor: pointer;
}

nav > span {
    display: inline-block;
}

nav span::before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(rgb(216, 43, 75), rgb(243, 101, 127));
    box-shadow: inset 0 0.07em 0.2em rgb(88, 88, 88);
    z-index: -1;
    transition: opacity 0.3s;
    opacity: 0;
}

nav span:hover::before {
    opacity: 1;    
}

nav > div {
    top: 100%;
    position: absolute;
    z-index: 10;
}

nav > div > span {
    display: block;
}

.notifIndicator {
    border-radius: 0 0 1em 1em;
    font-weight: bold;
    padding: 0.1em 0.4em 0.2em 0.4em;
    font-size: 0.4em;
    position: absolute;
    top: 100%;
    left: 0.5em;
    background-color: rgb(136, 5, 29);
    color: white;
}