#news-box {
    width: 30em;
}

#news-box h3 {
    text-align: center;
    margin: 0.4em 0 0 0;
}

.info-box {
    padding: 0.5em;
    margin-bottom: 0.3em;
    background-image: linear-gradient(rgb(255, 149, 169), rgb(255, 184, 197) 0.15em calc(100% - 0.15em), rgb(255, 213, 221));
    box-shadow: inset 0 0.01em 0.2em rgb(92, 92, 92);
    border-radius: 0.3em;
}