#daylist, .daycolumn {
    list-style-type: none;
    padding: 0;
}

#daylist {
    display: inline-block;
    font-size: 0.4rem
}

#daylist > li {
    float: left;
}

.class-box {
    font-size: 0.4rem;
    box-sizing: border-box;
    border-width: 0.05em;
    border-color: rgb(255, 205, 214);
    border-style: solid;
    display: block;
    height: 7em;
    width: 9.1em;
    overflow: hidden;
}

.hourlegend {
    list-style-type: none;
    display: inline-block;
    padding: 0 1em 0 1em;
}

.hourlegend > li {
    font-size: 0.4rem;
    text-align: center;
    display: block;
    line-height: 7em;
    height: 7em;
}

.Wyklad, .Laboratorium, .Cwiczenia {
    font-size: 0.5rem;
    padding-top: 0.8em;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.Wyklad {
    background-image: linear-gradient(rgb(221, 221, 221), rgb(192, 192, 192) 2% 98%, rgb(163, 161, 161));
    box-shadow: inset 0 0 0.4em rgb(224, 224, 224), 0 0.2em 1em rgb(126, 126, 126);
}

.Laboratorium {
    background-image: linear-gradient(rgb(230, 62, 109), rgb(235, 27, 86) 2% 98%, rgb(201, 24, 74));
    box-shadow: inset 0 0 0.4em rgb(185, 185, 185), 0 0.2em 1em rgb(126, 126, 126);
}

.Cwiczenia {
    background-image: linear-gradient(rgb(255, 223, 137), rgb(255, 213, 96) 2% 98%, rgb(207, 172, 76));
    box-shadow: inset 0 0 0.4em rgb(212, 212, 212), 0 0.2em 1em rgb(126, 126, 126);
}

.shrunk-box {
    display: inline-block;
    height: 100%;
    width: 100%;
    transition: max-width 0.2s;
    border-width: 0 0.05em 0 0.05em;
    border-color: rgb(255, 205, 214);
    border-style: solid;
    overflow: hidden;
    box-sizing: border-box;
}

.highlight {
    box-shadow: inset 0 0 1em 0.2em rgb(31, 240, 41)
}